%p
  - m_patient.details.each do |key, value|
    %span.label.label-info= value
  - m_patient.m_patient_admitted_for_admission_reason_on_dates.each do |m_patient_admitted_for_admission_reason_on_date|
    %span.separator &middot;
    - m_patient_admitted_for_admission_reason_on_date.details.each do |key, value|
      %span.label.label-info= value
  - m_patient.m_patient_treatment_involves_drugs.each do |m_patient_treatment_involves_drug|
    %span.separator &middot;
    - m_patient_treatment_involves_drug.details.each do |key, value|
      %span.label.label-success= value
  - m_patient.m_patient_is_allergic_to_drugs.each do |m_patient_is_allergic_to_drug|
    %span.separator &middot;
    - m_patient_is_allergic_to_drug.details.each do |key, value|
      %span.label.label-important= value
.fat-row-buttons
  = link_to icon(:edit).html_safe,
            '#',
            class: 'btn btn-small edit_m_patient',
            id: m_patient.id
  = link_to icon(:trash, :white).html_safe,
            m_patient_path(m_patient),
            method: 'delete',
            class: 'btn btn-small btn-danger'