.m_patients
  = render partial: 'm_patients/index', locals: {m_patients: @m_patients}
.u_patients
  = render partial: 'layouts/index', locals: {objects: @m_patients, object_class: MPatient, edit_mode: true}
.gis
  = render partial: 'gis/index', locals: {gis: @gis}
.epd_patients
  = render partial: 'epd_patients/index', locals: {epd_patients: @epd_patients}

= render partial: 'm_patients/edit', locals: {m_patient: MPatient.new}
- @m_patients.each do |m_patient|
  = render partial: 'm_patients/edit', locals: {m_patient: m_patient, edit_mode: true}

:coffeescript
  $ ->
    $('.fat-row').hover (->
      $(@).find('.fat-row-buttons').show()
    ), (->
      $(@).find('.fat-row-buttons').hide()
    )