.m_patients
  = render partial: 'm_patients/index', locals: {m_patients: @m_patients}
.u_patients
  = render partial: 'u_patients/index', locals: {u_patients: @u_patients}
.gis
  = render partial: 'gis/index', locals: {gis: @gis}
.epd_patients
  = render partial: 'epd_patients/index', locals: {epd_patients: @epd_patients}

- @m_patients.each do |m_patient|
  = render partial: 'm_patients/edit', locals: {m_patient: m_patient}

:coffeescript
  $ ->
    $('.fat-row').hover (->
      $(@).find('.fat-row-buttons').show()
    ), (->
      $(@).find('.fat-row-buttons').hide()
    )