- param_name, human_name = association.name, association.klass.human_name
- if (associated = object.send(association.name)).present?
  - if associated.is_a? Array
    - associated.each do |associated_object|
      %legend= human_name
      - param = "#{param_name}[#{associated_object.id}]"
      - associated_object.form_details.each do |key, label, type, value|
        = render partial: 'layouts/attribute_form_element',
                 locals: {key: key, label: label, type: type, value: value,
                          param: param, primary_keys: primary_keys,
                          edit_mode: edit_mode}
  - else
    %legend= human_name
    - param = "#{param_name}[#{associated.id}]"
    - associated.form_details.each do |key, label, type, value|
      = render partial: 'layouts/attribute_form_element',
               locals: {key: key, label: label, type: type, value: value,
                        param: param, primary_keys: primary_keys,
                        edit_mode: edit_mode}
- if edit_mode
  %a.btn.btn-info.btn-block.add-button{href: '#', id: "#{param_name}_#{object.id}"}
    = "#{icon(:plus, :white)} Add #{human_name}".html_safe
