.control-group.row-fluid
  %label.control-label{for: 'dummy_id'}= label
  .controls
    - if type == :datetime
      = select_date value || Date.today, :order => [:day, :month, :year], prefix: "#{param}[#{key}]"
    - else
      = text_field_tag "#{param}[#{key}]", value, class: 'span12', maxlength: 40, placeholder: key