.control-group.row-fluid{class: ('info' if primary_keys.include? key)}
  %label.control-label= label
  .controls
    - if type == :datetime
      = select_date value || Date.today, :order => [:day, :month, :year], prefix: param,
                                         start_year: 1900, end_year: Date.today.year,
                                         field_name: key, include_position: true,
                                         include_blank: false, disabled: (not edit_mode)
    - else
      = text_field_tag "#{param}[#{key}]", value, class: 'span12',
                                                  maxlength: 40,
                                                  placeholder: key,
                                                  disabled: (not edit_mode)