.control-group.row-fluid
  %label.control-label{for: 'dummy_id'}= label
  .controls
    - if value.is_a? Time
      = date_select param, key, default: value, :order => [:day, :month, :year]
    - else
      = text_field_tag "#{param}[#{key}]", value, class: 'span12', maxlength: 40, placeholder: key