- class_name = object_class.dashed_name.pluralize
.add{class: class_name}
  - if edit_mode
    .buttons
      = link_to "#{icon(:plus, :white)} Add #{object_class.human_name}".html_safe,
                '#',
                class: 'btn btn-info btn-small btn-block',
                'data-toggle' => 'modal',
                'data-target' => ".#{object_class.param_name}_editor#new"
  - else
    .header
      %h4= object_class.human_name.pluralize
%div{class: class_name}
  %ul.fat-rows
    - objects.each do |object|
      %li.fat-row
        = render partial: 'layouts/show', locals: {object: object, primary_key: primary_key, edit_mode: edit_mode}
.fade-in{class: class_name}
.fade-out{class: class_name}