- class_name = object_class.dashed_name.pluralize
.add{class: class_name}
  .header
    .scroll-fade
      - if edit_mode
        = link_to "#{icon(:plus, :white)} Add #{object_class.human_name}".html_safe,
                  '#',
                  class: 'btn btn-info btn-small btn-block',
                  'data-toggle' => 'modal',
                  'data-target' => ".#{object_class.param_name}_editor#new"
      - else
        %h4= object_class.human_name.pluralize
%div{class: class_name, id: class_name}
  %ul.fat-rows
    - objects.each do |object|
      - if edit_mode.is_a? Proc
        - object_edit_mode = edit_mode.call(object)
      - else
        - object_edit_model = edit_mode
      %li.fat-row
        = render partial: 'layouts/show', locals: {object: object, primary_keys: primary_keys, edit_mode: object_edit_model}
  .scroll-spacer
.fade-out{class: class_name}

:coffeescript
  $ ->
    ScrollFix('##{class_name}')
