%p
  %span.label.label-info= object.class.param_name
  - object.details.each do |key, value|
    - if key == primary_key
      %span.label.label-important= value
    - else
      %span.label.label-success= value
- object.class.associations.each do |association|
  = render partial: 'layouts/show_associations', locals: {object: object, association: association, primary_key: primary_key}
.fat-row-buttons
  - if edit_mode
    = link_to icon(:edit).html_safe,
              '#',
              class: 'btn btn-small',
              'data-toggle' => 'modal',
              'data-target' => "##{object.id}.#{object.class.param_name}_editor"
    = link_to icon(:trash, :white).html_safe,
              url_for(controller: object.class.param_name.pluralize, action: 'destroy', id: object.id, only_path: true),
              method: 'delete',
              class: 'btn btn-small btn-danger'
  - else
    = link_to icon(:'eye-open').html_safe,
              '#',
              class: 'btn btn-small',
              'data-toggle' => 'modal',
              'data-target' => "##{object.send(primary_key)}.#{object.class.param_name}_editor"