- if (associated = object.send(association.name)).present?
  %p
    %span.label.label-info= association.name
    - if associated.is_a? Array
      - associated.each do |associated_object|
        - unless associated_object == associated.first
          %span.separator &middot;
        - associated_object.details.each do |key, value|
          - if primary_keys.include? key
            %span.label.label-important= value
          - else
            %span.label.label-success= value
    - else
      - associated.details.each do |key, value|
        - if primary_keys.include? key
          %span.label.label-important= value
        - else
          %span.label.label-success= value